50 -9.999900e+004 0 0      CONSTANTCV NOVFC
4 4 4 4 4 4 4 4 4 4
0 0 0 0 0 0 0 0 0 0
.333334 .333334 .333334 .333334 .333334 .333334 .333334 .333334 .333334 .333334
0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0
CONSTANT 1.5707963267948966
EXTERNAL 70 1 (FREE) -1 Kx Layer  1
EXTERNAL 71 1 (FREE) -1 Kz Layer  1
EXTERNAL 72 1 (FREE) -1 Ss Layer  1
EXTERNAL 73 1 (FREE) -1 Sy Layer  1
EXTERNAL 70 1 (FREE) -1 Kx Layer  2
EXTERNAL 71 1 (FREE) -1 Kz Layer  2
EXTERNAL 72 1 (FREE) -1 Ss Layer  2
EXTERNAL 73 1 (FREE) -1 Sy Layer  2
EXTERNAL 70 1 (FREE) -1 Kx Layer  3
EXTERNAL 71 1 (FREE) -1 Kz Layer  3
EXTERNAL 72 1 (FREE) -1 Ss Layer  3
EXTERNAL 73 1 (FREE) -1 Sy Layer  3
EXTERNAL 70 1 (FREE) -1 Kx Layer  4
EXTERNAL 71 1 (FREE) -1 Kz Layer  4
EXTERNAL 72 1 (FREE) -1 Ss Layer  4
EXTERNAL 73 1 (FREE) -1 Sy Layer  4
EXTERNAL 70 1 (FREE) -1 Kx Layer  5
EXTERNAL 71 1 (FREE) -1 Kz Layer  5
EXTERNAL 72 1 (FREE) -1 Ss Layer  5
EXTERNAL 73 1 (FREE) -1 Sy Layer  5
EXTERNAL 70 1 (FREE) -1 Kx Layer  6
EXTERNAL 71 1 (FREE) -1 Kz Layer  6
EXTERNAL 72 1 (FREE) -1 Ss Layer  6
EXTERNAL 73 1 (FREE) -1 Sy Layer  6
EXTERNAL 70 1 (FREE) -1 Kx Layer  7
EXTERNAL 71 1 (FREE) -1 Kz Layer  7
EXTERNAL 72 1 (FREE) -1 Ss Layer  7
EXTERNAL 73 1 (FREE) -1 Sy Layer  7
EXTERNAL 70 1 (FREE) -1 Kx Layer  8
EXTERNAL 71 1 (FREE) -1 Kz Layer  8
EXTERNAL 72 1 (FREE) -1 Ss Layer  8
EXTERNAL 73 1 (FREE) -1 Sy Layer  8
EXTERNAL 70 1 (FREE) -1 Kx Layer  9
EXTERNAL 71 1 (FREE) -1 Kz Layer  9
EXTERNAL 72 1 (FREE) -1 Ss Layer  9
EXTERNAL 73 1 (FREE) -1 Sy Layer  9
EXTERNAL 70 1 (FREE) -1 Kx Layer 10
EXTERNAL 71 1 (FREE) -1 Kz Layer 10
EXTERNAL 72 1 (FREE) -1 Ss Layer 10
EXTERNAL 73 1 (FREE) -1 Sy Layer 10
